{% block submit_widget %}
{% spaceless %}
    {% set type = type|default('submit') %}
    {% set class = "btn btn-primary" %}
    {{ block('button_widget') }}
{% endspaceless %}
{% endblock submit_widget %}

{% block button_widget %}
{% spaceless %}
    {% if label is empty %}
        {% set label = name|humanize %}
    {% endif %}
    <button type="{{ type|default('button') }}" {{ block('button_attributes') }} class="{{ class }}">{{ label|trans({}, translation_domain) }}</button>
{% endspaceless %}
{% endblock button_widget %}
    
{% block form_widget_compound %}
{% spaceless %}
    <table {{ block('widget_container_attributes') }} class="crud-table">
        {% if form.parent is empty and errors|length > 0 %}
        <tr>
            <td colspan="2">
                {{ form_errors(form) }}
            </td>
        </tr>
        {% endif %}
        {{ block('form_rows') }}
        {{ form_rest(form) }}
    </table>
{% endspaceless %}
{% endblock form_widget_compound %}
