{% block body -%}

    <h3>Cargos</h3>
    
    <table class="records_list" id="datatable_crud">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre cargo</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('cargo_edit', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.nombreCargo }}</td>
                <td>                        <a href="{{ path('cargo_edit', { 'id': entity.id }) }}" class="btn btn-primary">Editar</a>
                                    <a href="{{ path('cargo_delete', { 'id': entity.id }) }}" class="btn btn-danger" onclick="return confirmar()">Eliminar</a>

                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
