{% block body -%}

    <h3>Tareas</h3>
    
    <table class="records_list t_tareas" id="datatable_crud">
        <thead>
            <tr>
                <th>Id</th>
                <th>Fecha de Registro</th>
                <th>Usuario</th>
                <th>&Aacute;rea Empresa</th>
                <th>Tema</th>
                <th>Valoraproximado</th>
                <th>Resolucion 1</th>
                <th>Resolucion 2</th>
                <th>Seleccion</th>
                <th>Cumplido</th>
                <th>Resultado</th>
                <th>Notas</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('tarea_edit', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{% if entity.fechaRegistro %}{{ entity.fechaRegistro|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.usuarioPk }}</td>
                <td>{{ entity.areaPk.empresaArea }}</td>
                <td>{{ entity.tema }}</td>
                <td>{{ entity.valorAproximado }}</td>
                <td>{{ entity.resolucion1 }}</td>
                <td>{{ entity.resolucion2 }}</td>
                <td>{{ entity.seleccion }}</td>
                <td>{{ entity.cumplido }}</td>
                <td>{{ entity.resultado }}</td>
                <td>{{ entity.notas }}</td>
                <td>                        <a href="{{ path('tarea_edit', { 'id': entity.id }) }}" class="btn btn-primary">Editar</a>
                                    <a href="{{ path('tarea_delete', { 'id': entity.id }) }}" class="btn btn-danger" onclick="return confirmar()">Eliminar</a>

                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
