{% extends 'FrontendBundle:Layouts:base.html.twig' %}

{% block body -%}
    <h3>Cobros</h3>
    <div class="row">
        <a href="{{ path("pedido") }}" class="btn btn-primary" style="float: right; margin-bottom: 30px">Nuevo Pedido</a>
    </div>
    <div class="row">
        <div class="col-md-1">
            <label for="empresa">Empresa</label>
        </div>
        <div class="col-md-4">
            <select id="empresa">
                <option value="" selected="selected"></option>
                {% for empresa in empresas %}
                    <option value="{{ empresa }}" data-empresaid="{{ empresa.id }}">{{ empresa }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-md-1">
            <label for="fechadesde">Fecha desde</label>
        </div>
        <div class="col-md-2">
            <input type="text" id="fechadesde"/>
        </div>
        <div class="col-md-1">
            <label for="fechahasta">Fecha hasta</label>
        </div>
        <div class="col-md-2">
            <input type="text" id="fechahasta"/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1">
            <label for="area">Area</label>
        </div>
        <div class="col-md-4">
            <select id="areahidden" style="display: none">
                <option data-empresa="-1" value="" selected="selected"></option>
                {% for area in areas %}
                    <option data-empresa="{{ area.empresaPk.id }}" value="{{ area.empresaArea }}">{{ area.empresaArea }}</option>
                {% endfor %}
            </select>
            <select id="area">
                <option data-empresa="-1" value="" selected="selected"></option>
                {% for area in areas %}
                    <option data-empresa="{{ area.empresaPk.id }}" value="{{ area.empresaArea }}">{{ area.empresaArea }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-md-1">
            <label for="coordinador">Coordinador</label>
        </div>
        <div class="col-md-2">
            <select id="coordinador">
                <option value="" selected="selected"></option>
                {% for coordinador in coordinadores %}
                    <option value="{{ coordinador }}">{{ coordinador }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-md-1">
            <label for="codigo">C&oacute;digo</label>
        </div>
        <div class="col-md-2">
            <input type="text" id="codigo"/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1">
            <label for="paso">Paso</label>&nbsp;&nbsp;&nbsp;&nbsp;
        </div>
        <div class="col-md-4">
            <select id="paso">
                <option value="" selected="selected"></option>
                {% for paso in pasos %}
                    <option value="{{ paso }}">{{ paso }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-md-1">
            <label for="factura">Factura</label>
        </div>
        <div class="col-md-2">
            <input type="text" id="factura"/>
        </div>
        <div class="col-md-4"></div>
    </div>
    
    <br/>
    
    <input type="hidden" id="loading-gif" value="{{ asset('images/loader-small.gif') }}"/>
    <table class="tColapse records_list" id="datatable_crud" style="font-size: 11px">
        <thead>
            <tr>
                <th>#</th>
                <th style="display: none">Concepto</th>
                <th style="display: none">Empresa</th>
                <th style="display: none">Contacto</th>
                <th style="display: none">Paso</th>
                <th>Coordinador</th>
                <th>Fecha de registro</th>
                <th>&Aacute;rea</th>
                <th># Prod.</th>
                <th># Factura</th>
                <th>Subtotal</th>
                <th>IVA</th>
                <th>Total</th>
                <th>Ret. Renta</th>
                <th>Ret. IVA</th>
                <th>L&iacute;quido</th>
                <th>Banco</th>
                <th>Relacionados</th>
                <th>Paso</th>
                <th>Notas</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>
                    <span id="tc{{ entity.id }}">{{ entity.idRecur }}</span>
                    <div class="tooltip" style="display: none">
                        <div class="tooltip-inner" id="tci{{ entity.id }}">
                            {{ entity.conceptoFactura }}
                        </div>
                        <div class="tooltip-arrow"></div>
                    </div>
                    <script type="text/javascript">
                        jQuery(document).ready(function() {
                            var popc{{ entity.id }} = $("#tci{{ entity.id }}").html();
                            $("#tc{{ entity.id }}").popover({
                                title: 'Conceptos',
                                trigger:'hover click',
                                content: popc{{ entity.id }},
                                html:true
                            });
                        });
                    </script>
                </td>
                <td style="display: none">{{ entity.conceptoFactura }}</td>
                <td style="display: none">{{ entity.contactoPk.areaPk.empresaPk }}</td>
                <td style="display: none">{{ entity.contactoPk.areaEmpresaContacto }}</td>
                <td style="display: none">{{ entity.pasoPedidosPk }}</td>
                <td>{{ entity.coordinadorUsuarioPk }}</td>
                <td>
                    {% if entity.fechaRegistro %}{{ entity.fechaRegistro|date('Y-m-d H:i:s') }}{% endif %}
                </td>
                <td>
                    <span id="t{{ entity.id }}">{{ entity.contactoPk.areaPk.empresaArea }}</span>
                    <div class="tooltip" style="display: none">
                        <div class="tooltip-inner" id="ti{{ entity.id }}">
                            {{ entity.contactoPk.areaPk }}<br/><br/>
                            Contacto: {{ entity.contactoPk }}<br/>
                            Cargo: {{ entity.contactoPk.cargoPk }}<br/>
                            Telf: {{ entity.contactoPk.telefono }}<br/><br/>
                            Etapa area: {{ entity.etapa }}
                        </div>
                        <div class="tooltip-arrow"></div>
                    </div>
                    <script type="text/javascript">
                        jQuery(document).ready(function() {
                            var pop{{ entity.id }} = $("#ti{{ entity.id }}").html();
                            $("#t{{ entity.id }}").popover({
                                title: 'Contacto',
                                trigger:'hover click',
                                content: pop{{ entity.id }},
                                html:true
                            });
                        });
                    </script>
                </td>
                <td>{{ entity.pedidoProducto|length }}</td>
                <td>{{ entity.facturaNum }}</td>
                <td>{{ entity.subtotal }}</td>
                <td>{{ entity.iva }}</td>
                <td>{{ entity.total }}</td>
                <td>{{ entity.retencionRentaTotal }} ({{ entity.retencionRenta|default('0') }}%)</td>
                <td>{{ entity.retencionIvaTotal }} ({{ entity.retencionIva|default('0') }}%)</td>
                <td>{{ entity.liquido }}</td>
                <td>{{ entity.banco }}</td>
                <td>
                    <a class="btn btn-primary" style="font-size: 10px; float: left" href="{{ path('pedido_edit', { 'id': entity.id }) }}" title="Editar"><span class="glyphicon glyphicon-edit"></span></a>
                    <a class="btn btn-primary" style="font-size: 10px; float: left" href="{{ path('pedido_productos', { 'id': entity.id }) }}" title="Productos"><span class="glyphicon glyphicon-list"></a>
                    <a class="btn btn-primary" style="font-size: 10px; float: left" href="{{ path('pedido_esquema', { 'id': entity.id }) }}" title="Esquema"><span class="glyphicon glyphicon-eye-open"></a>
                    <a class="btn btn-primary" style="font-size: 10px; float: left" href="{{ path('pedido_duplicar', { 'id': entity.id }) }}" title="Duplicar"><span class="glyphicon glyphicon-random"></a>
                </td>
                <td>
                    <select id="paso_{{ entity.id }}" name="paso_{{ entity.id }}" onchange="cambiaPaso('{{ entity.id }}','{{ url("pedido_cambiaPaso") }}','{{ entity.pasoPedido.id|default("-1") }}')">
                        <option value="-1"></option>
                        {% for paso in pasos %}
                            <option value="{{ paso.id }}" {% if entity.pasoPedidosPk is not null and paso.id == entity.pasoPedidosPk.id %}selected="selected"{% endif %}>{{ paso }}</option>
                        {% endfor %}
                    </select>
                </td>
                <td>
                {% if entity.notas is defined and entity.notas!="" %}
                    <!-- Button trigger modal -->
                    <button style="font-size: 12px; padding: 5px 11px;" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#notas{{entity.id}}">
                      <span class="glyphicon glyphicon-list-alt"></span>
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="notas{{entity.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title" id="myModalLabel">Notas pedido <span style="color: #3276b1">{{ entity.id }}</span></h4>
                          </div>
                          <div class="modal-body" style="font-size: 150%">
                                {{ entity.notas }}
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                          </div>
                        </div><!-- /.modal-content -->
                      </div><!-- /.modal-dialog -->
                    </div><!-- /.modal -->
                {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
{% block javascripts %}
    <script type="text/javascript">
        /* Custom filtering function which will filter data in column four between two values */
        $.fn.dataTableExt.afnFiltering.push(
            function( oSettings, aData, iDataIndex ) {
                    var iEmpresa = document.getElementById('empresa').value.toLowerCase();
                    var iVersion = aData[1].toLowerCase();
                    if (iVersion.indexOf(iEmpresa) !== -1)
                    {
                            return true;
                    }
                    return false;
                }
            );
        $.fn.dataTableExt.afnFiltering.push(
            function( oSettings, aData, iDataIndex ) {
                    var iArea = document.getElementById('area').value.toLowerCase();
                    var iVersion = aData[6].toLowerCase();
                    if (iVersion.indexOf(iArea) !== -1)
                    {
                            return true;
                    }
                    return false;
                }
            );
        $.fn.dataTableExt.afnFiltering.push(
            function( oSettings, aData, iDataIndex ) {
                    var iPaso = document.getElementById('paso').value.toLowerCase();
                    var iVersion = aData[3].toLowerCase();
                    if (iVersion.indexOf(iPaso) !== -1)
                    {
                            return true;
                    }
                    return false;
                }
            );
        $.fn.dataTableExt.afnFiltering.push(
            function( oSettings, aData, iDataIndex ) {
                    var iCoordinador = document.getElementById('coordinador').value.toLowerCase();
                    var iVersion = aData[4].toLowerCase();
                    if (iVersion.indexOf(iCoordinador) !== -1)
                    {
                        return true;
                    }
                    return false;
                }
            );
        $.fn.dataTableExt.afnFiltering.push(
            function( oSettings, aData, iDataIndex ) {
                    var iCodigo = document.getElementById('codigo').value.toLowerCase();
                    var iVersion = aData[0].toLowerCase();
                    if (iVersion.indexOf(iCodigo) !== -1)
                    {
                        return true;
                    }
                    return false;
                }
            );
        $.fn.dataTableExt.afnFiltering.push(
            function( oSettings, aData, iDataIndex ) {
                var iFini = document.getElementById('fechadesde').value;
                var iFfin = document.getElementById('fechahasta').value;
                var iDateCol = 5;

                iFini = iFini.substring(0,4) + iFini.substring(5,7) + iFini.substring(8,10) + iFini.substring(11,13) + iFini.substring(14,16) + iFini.substring(17,19);
                iFfin = iFfin.substring(0,4) + iFfin.substring(5,7) + iFfin.substring(8,10) + iFfin.substring(11,13) + iFfin.substring(14,16) + iFfin.substring(17,19);
                
                var dato = aData[iDateCol].substring(0,4) + aData[iDateCol].substring(5,7) + aData[iDateCol].substring(8,10) + aData[iDateCol].substring(11,13) + aData[iDateCol].substring(14,16) + aData[iDateCol].substring(17,19);

                if ( iFini === "" && iFfin === "" )
                {
                    return true;
                }
                else if ( iFini <= dato && iFfin === "")
                {
                    return true;
                }
                else if ( iFfin >= dato && iFini === "")
                {
                    return true;
                }
                else if (iFini <= dato && iFfin >= dato)
                {
                    return true;
                }
                return false;
            }
        );
        $.fn.dataTableExt.afnFiltering.push(
            function( oSettings, aData, iDataIndex ) {
                    var iFactura = document.getElementById('factura').value.toLowerCase();
                    var iVersion = aData[8].toLowerCase();
                    if (iVersion.indexOf(iFactura) !== -1)
                    {
                        return true;
                    }
                    return false;
                }
            );
        $(document).ready(function() {
            $("#fechadesde").datepicker({
                altFormat: "yy-mm-dd 00:00:00",
                changeYear: true,
                changeMonth: true,
                dateFormat: "yy-mm-dd 00:00:00",
                yearRange: "2012:2050"
            });
            $("#fechahasta").datepicker({
                altFormat: "yy-mm-dd 00:00:00",
                changeYear: true,
                changeMonth: true,
                dateFormat: "yy-mm-dd 00:00:00",
                yearRange: "2012:2050"
            });
            $('#empresa').change( function() { window.dataTable.fnDraw(); filtraAreas(); } );
            $('#area').change( function() { window.dataTable.fnDraw(); } );
            $('#paso').change( function() { window.dataTable.fnDraw(); } );
            $('#coordinador').change( function() { window.dataTable.fnDraw(); } );
            $('#codigo').keyup( function() { window.dataTable.fnDraw(); } );
            $('#fechadesde').on( "keyup change", function() { window.dataTable.fnDraw(); } );
            $('#fechahasta').on( "keyup change", function() { window.dataTable.fnDraw(); } );
            $('#factura').keyup( function() { window.dataTable.fnDraw(); } );
        } );
    </script>
{% endblock %}
