{# src/Frontend/Bundle/Resources/views/Security/login.html.twig #}
<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}Sistema de Control de Producci&oacute;n{% endblock %}</title>
        {% stylesheets 
            '@FrontendBundle/Resources/public/css/login.css'
            '@FrontendBundle/Resources/public/css/bootstrap.min.css'
            '@FrontendBundle/Resources/public/css/bootstrap-theme.min.css'
        %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
    <body screen_capture_injected="true">
        <div class="container">
            <h2 style="text-align: center">Sistema de Control de Producción</h2>
            {% if error %}
                <div class="alert alert-dismissable alert-warning" style="margin-bottom: 0px;margin-top: 20px;margin-left: 300px;margin-right: 300px;">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    {{ error.message|trans({}, 'messages') }}
                </div>
            {% endif %}
            <form class="form-signin" action="{{ path('login_check') }}" method="post">
                <h4 class="form-signin-heading">Por favor ingrese sus credenciales</h4>
                <input type="text" class="form-control" placeholder="Usuario" required="" autofocus="" id="username" name="_username" value="{{ last_username }}">
                <input type="password" class="form-control" placeholder="Clave" required="" id="password" name="_password">
                <input type="hidden" name="_target_path" value="/" />
                <button class="btn btn-lg btn-primary btn-block" type="submit">Ingresar</button>
            </form>

        </div>
        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        {% javascripts
            '@FrontendBundle/Resources/public/js/jquery-1.10.2.js'
            '@FrontendBundle/Resources/public/js/bootstrap-3.0.0.min.js'
        %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
    </body>
</html>